body{
    background-color:#EDEDED;
}
.divisor{
  margin-top:150px;
  margin-bottom: 150px;
}

.divisor1{
  margin-bottom: 150px;
}
.divisor2{
  margin-top:150px;
}

.botones{
    margin: 0 auto;
    width:40%;
}